node_modules
coverage
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
.idea
.eslintcache
api-generator/typedoc.json
**/.DS_Store
backend/src/main/java/fr/moodsync/backend/python/local_model/model.safetensors